@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #995fe0;
  --background-start-rgb: #995fe0;
  --background-end-rgb: #b1d28f;
}



body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
